@import "tailwindcss";

@import "primeicons/primeicons.css";

html,
body,
#root,
#root > div {
   height: 100%;
}

#root > div {
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
   background: var(--gray-1);
}

button:not([data-disabled="true"]) {
   cursor: pointer !important;
}

/* tailwind-style utils classes */

.radix-toaster {
   background-color: var(--color-background) !important;
   border: 1px solid;
   color: var(--gray-11) !important;
   border-color: var(--gray-6) !important;
}

/* .radix-toaster {
   background-color: var(--accent-1) !important;
   border: 1px solid;
   color: var(--accent-12) !important;
   border-color: var(--accent-6) !important;
} */

.bg-radix {
   background-color: var(--color-background) !important;
}

.border-radix {
   border-color: var(--code-block-border) !important;
}

@keyframes editCardGlow {
   0% {
      outline-width: 0px;
      outline-color: var(--accent-6);
      background-color: var(--accent-2);
   }
   30% {
      outline-width: 2px;
      outline-color: var(--accent-11);
      background-color: var(--accent-4);
   }
   60% {
      outline-width: 2px;
      outline-color: var(--accent-11);
      background-color: var(--accent-4);
   }
   100% {
      outline-width: 0px;
      outline-color: var(--accent-6);
      background-color: var(--accent-2);
   }
}

.specialCard {
   outline-style: solid;
   animation: editCardGlow 1.5s ease-in-out forwards;
}


#react-hot-toast {
   z-index: 9999; /* Adjust to your needs */
 }
